:root {
    --primary-font: "Roboto", sans-serif;
    --primary-text-color: #434455;
    --primary-white-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-inline-start: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-list::after {
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    display: block;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-color {
    color: #2E2F42;
}

.header-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-menu-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404BBF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contacts {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-link {
    color: #434455;
}

.header-contacts-link:hover, .header-contacts-link:focus {
    color: #404BBF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
        ),
        url(../images/people-office.jpg);
    background-size: cover;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor:pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-top: 48px;
    display:block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages {
    padding: 120px 0;
}

.advantages-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.advantages-item {
    display: flex;
    gap: 24px;
}

.advantages-item-list {
    width: calc((100% - 24px * 3) / 4);
}

.advantages-item-name {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-description {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.technology {
    padding-bottom: 120px;
}

.technologies {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.technologies-photo {
    display: flex;
    gap: 24px;
}

.technologies-photo-list {
    border: 1px solid #E7E9FC;
    background:#E7E9FC;
    width: calc((100% - 24px * 2) / 3);
}

.project-item-description {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-guide {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display:flex;
    gap: 24px;
}

.team-name-position {
    padding: 32px 16px;
}

.team-list-member {
    background-color: #fff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-name {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-position {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-guide-socials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-list-socials-link:is(:hover, :focus) .team-guide-socials {
    background-color: #31D0AA;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-socials {
    display: flex;
    gap: 24px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-slogan {
    color:  #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #F4F4FD;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:  #F4F4FD;
    color:  #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    margin: 0 auto;
}

.filter-btn:hover, .filter-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-item-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    align-content: flex-start;
}

.project-item-link {
    width: calc((100% - 48px) / 3);
}

.project-item-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-item-specific {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}